<%- include("partials/header"); -%>

<h3>
  <center>Welcome to your search engine</center>
</h3>
<p>
  <center>Please type your subject in the search bar then hit</center>
</p>
<p>
  <center>the enter key on your keyboard or click on the search button.</center>
</p>


<form class="d-flex search-bar" role="seach" action="/news" method="post">
  <input class="form-control me-2" type="text" name="searchText" placeholder="Search" aria-label="Search">
  <div class="searchbutton">
    <button class="" type="submit" name="searchButton">Search</button>
  </div>

</form>
<%if(data[0]=="welcome"){%>
<p> </p>
<%}else{%>
<%if(data.length===0){%>
<p>
  <center>Not found </center>
</p>

<%}else{%>
<%for(let i=0; i<data.length; i++){%>

<div class="flotte">
  <div class="image">
    <img src=<%=data[i][0]%> alt="news picture">
  </div>

  <p> <%=data[i][1].substring(0,Math.round(data[i][1].length/2)); %><br />
    <%=data[i][1].substring(Math.round(data[i][1].length/2),data[i][1].length); %>...
    <a href=<%="/news-content/"+i%>>Read More</a>
  </p>
</div>
<%}%>

  <%# allow user's to go to next pages%>
<div class="next-page">
  <a id="Previous" href="/news/0">Previous</a>
  <a class="page" href="/news/1">1</a>
  <a class="page" href="/news/2">2</a>
  <a class="page" href="/news/3">3</a>
  <a class="page" href="/news/4">4</a>
  <a class="page" href="/news/5">5</a>
  <a class="Next" href="/news/N">Next</a>
</div>



<%}%>
<%}%>




<%- include("partials/footer"); -%>
