<%- include("partials/header"); -%>

  <h3><center>News search</center></h3>

  <div class="search-bar"
    <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>


<%for(let i=0; i<data.length; i++){%>
      <h3><center><%=data[i][1]%></center></h3>
      <a href=<%="/news-content/"+i%>><center>Read More</center></a>
      <div class="image-news">
        <img src=<%=data[i][0]%>  alt="news picture">
      </div>
<%}%>


<%- include("partials/footer"); -%>
