<%- include("partials/header"); -%>

<div class="news-title">

  <h3><b>Welcome to your video search Platform</b></h3>

  <p>Please type the title in the search bar</p>

</div>

<form class="d-flex search-bar" role="seach" action="/news" method="post">
  <input class="form-control me-2" type="text" name="searchText" placeholder="Search" aria-label="Search">
  <div class="searchbutton">
    <button class="" type="submit" name="searchButton">Search</button>
  </div>

</form>


<%if(data[0]=="welcome"){%>
<p> </p>
<%}else{%>
<%if(data.length===0){%>
<p>
  <center>Not found </center>
</p>




<%}else{%>
  <%if(width>527){%>
    <%for(let i=0; i<data.length; i++){%>

    <div class="flotte">
        <div class="image">
          <img src="<%=data[i][0]%>" alt="video picture">
          <button class="btn btn-dark" onclick="window.location.href='<%=data[i][2]%>';">Play</button>
        </div>

       <p>
         <%=data[i][1].substring(0,60); %>...
       </p>
       <p style="color: blue">
         <%=data[i][4]%> views
       </p>

    </div>
  <%}}else{%>
    <%for(let i=0; i<data.length; i++){%>

    <div class="noflotte">

      <p>
        <%=data[i][1].substring(0,60); %>...
      </p>
      <p style="color: blue">
        <%=data[i][4]%> views
      </p>

      <div class="image">
          <img src="<%=data[i][0]%>" alt="video picture">
          <button class="btn btn-dark" onclick="window.location.href='<%=data[i][2]%>';">Play</button>
      </div>

    </div>
  <%}}%>





 <%#lines 74-90 Might be useful if I choose another API --> no deletion%>
<div class="next-page" >
  <%if( numberResults>1){%>
  <p> Page <span style="color: blue"><%=pageId%></span> /<%=numberResults-1%></p>
  <a id="Previous" href="/news/0">Previous</a>
  <%for(let i=1; i<numberResults; i++){%>
  <a class="page" href=<%="/news/"+i%>><%=i%></a>
  <%}%>
    <a class="Next" href="/news/N">Next</a>
  <%}%>

  <%if( numberResults===1){%>
  <p> Page <span style="color: blue">1</span>/1</p>
  <a class="page" href="/news/1">1</a>
  <%}%>

<%}}%>
</div>









<%- include("partials/footer"); -%>
